In [1]:
import numpy as np
import pandas as pd
import os

In [2]:
os.chdir("/work/users/minhnth/projects/GIP/")

In [3]:
# Read a vcf file
def read_vcf(vcf_path):
    with open(vcf_path, "rt") as ifile:
          for line in ifile:
            if line.startswith("#CHROM"):
                  vcf_names = [x for x in line.split('\t')]
                  break
    ifile.close()
    data = pd.read_csv(vcf_path, comment='#', sep="\s+", header=None, names=vcf_names)
    return data
def get_data(X, miss_rate):
    # Parameters
    no, dim = X.shape

    # Introduce missing data
    data_m = binary_sampler(1-miss_rate, no, dim)
    miss_data_x = X.copy()
    miss_data_x[data_m == 0] = ".|."
    return X, miss_data_x, data_m

In [4]:
# Load original data
vcf_path =  "data/HLA/HLA1_chr6.vcf"
rate = 0.2
data = read_vcf(vcf_path)
geno = data.iloc[:, 9::]
geno.rename(columns={'NA21144\n':'NA21144'}, inplace=True)

In [5]:
geno.head()

,HG00096,HG00097,HG00099,HG00100,HG00101,HG00102,HG00103,HG00105,HG00106,HG00107,...,NA21128,NA21129,NA21130,NA21133,NA21135,NA21137,NA21141,NA21142,NA21143,NA21144
0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0
1,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|1,0|0,0|0,0|0
2,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0
3,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0
4,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0

In [9]:
meta_data = pd.read_csv("data/HLA/igsr-1000 genomes on grch38.tsv", sep = "\t")

In [16]:
np.unique(list(meta_data["Superpopulation code"]))

array(['AFR', 'AMR', 'EAS', 'EUR', 'EUR,AFR', 'SAS'], dtype='<U7')

In [17]:
AFR = meta_data[meta_data["Superpopulation code"] == 'AFR']
AMR = meta_data[meta_data["Superpopulation code"] == 'AMR']
EAS = meta_data[meta_data["Superpopulation code"] == 'EAS']
EUR = meta_data[meta_data["Superpopulation code"] == 'EUR']
SAS = meta_data[meta_data["Superpopulation code"] == 'SAS']

In [7]:
new_meta.head()

NameError: name 'new_meta' is not defined

In [ ]:
geno, geno_miss, m = get_data(geno, rate)
gn = pd.concat([data.iloc[:, 0:9], geno_miss], axis = 1)